@import url('https://fonts.googleapis.com/css?family=Roboto');

html {
    font-family: 'Roboto', sans-serif;
}


#footer-bar {
    position: absolute;
    width: 100vw;
    height: 10vh;
    top: 90vh;
    left: 0px;
    background: lightcoral;
}

#footer-text {
    position: relative;
    text-align: center;
    vertical-align: middle;
    font-size: 1.5em;
}